<html>
  <head>
  <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
  <h1> UNLUCKY, Try Again</h1>
  <p> the username <%= @username %> OR the email <%= @email %> already exists<p>
    <a href='/sign_up'> sign up page </a>
  <div></div>
  </body>
</html>
