<html>
  <head></head>
  <body>
  <h1> Well Done, your account username is <%= @username %> </h1>
  <p>chitter is used to connect the world and we do it one peep at a time<p>
    <a href='peep/new'> click here for your first post </a>
  <div></div>
  </body>
</html>
