<html>
  <head></head>
  <body>
  <h1> Welcome To Chitter </h1>
  <div>
  <% @all.each do |peep| %>
    <h1>PEEP!</h1>
   <p> <%= peep.content %> <p>
   <p> <%= peep.time_made %> <p>
   <p> <%= @users.find(peep.user_id).username if @users.find(peep.user_id) != nil%> <p>
  <% end %>
  <h2><a href="/sign_up">Don't have an account?</a></h2>
  <h2><a href="/log_in">already have an account? Log In</a></h2>
  </div>
  <div> <a href></div>
  </body>
</html>


